body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-name {
    font-size: 18px;
    margin-left: 20px;
}

.header .menu-toggle {
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -3000px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
    overflow-y: auto;
}

.sidebar.show {
    left: 0;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar button:hover {
    background-color: #45a049;
}

.sidebar .logout {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 14px;
    width: calc(90% - 20px);
}

.active-days {
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    padding: 20px;
    width: 80%;
    margin-right: 20px;
    justify-content: flex-start;
}

.item {
    width: 150px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 15%;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart ul li {
    margin-bottom: 10px;
}

.cart .total {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.cart .clear-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart .clear-btn:hover {
    background-color: #e53935;
}

.cart .cash-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart .cash-btn:hover {
    background-color: #45a049;
}

.delete-item {
    display: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    top: 5px;
    right: 5px; 

}

.item.edit-mode .delete-item {
    display: inline;

}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        width: 100%;
        margin-top: 120px;
    }

    .cart {
        width: 25%;
        right: 5%;
    }

    .sidebar {
        width: 70%;
        height: 100%;
    }

    .sidebar button {
        margin-bottom: 8px;
    }

}
